 *{
    padding: 0;
    margin: 0;
    align-items: center;
 }
 #main{
    background-color: white;
    border: 3px solid grey;
    padding-top: 35px;
    padding-bottom: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    

}

.nav{
    /* background-color: aqua; */
    display: flex;
    justify-content: f;
 gap: 50%;
 margin-left: 20px;   
 margin-left: 100px;
}
nav ul{
    display: flex;
    font-size: 20px;
gap: 15%;
text-decoration: none;
list-style: none;
align-items: center;
}

button{
    width: 30px;
    padding-top: 25px;
    border-radius: 50%;
    margin-right: 5px;
    border-color: black;
}
.btn1{
    background-color: aqua;
}
.btn2{
    background-color: blue;
}
.btn2{
    background-color: red;
}
.btn3{
    background-color: green;
}
.btn4{
    background-color: orangered;
}
.btn5{
    background-color: purple;
}